<h1>{{title}}</h1>
<a href="link1.html"><h2>Link 1</h2></a>
<iframe src="/link1.html" width="100%" height="360" align="left">
    Ваш браузер не поддерживает плавающие фреймы!
</iframe>

<a href="link2.html"><h2>Link 2</h2></a>
<iframe src="/link2.html" width="100%" height="160" align="left">
    Ваш браузер не поддерживает плавающие фреймы!
</iframe>

<a href="link3.html"><h2>Link 3</h2></a>
<iframe src="/link3.html" width="100%" height="160" align="left">
    Ваш браузер не поддерживает плавающие фреймы!
</iframe>

