
  <!DOCTYPE html>
  <html lang="ru">
  <head>
      <meta charset="utf-8">
      <title>Виджет внутристримовой статистики - DonationAlerts</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=2">
      <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=2">
      <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=2">
      <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=2">
      <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=2">
      <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=2">
      <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=2">
      <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=2">
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=2">
      <link rel="icon" type="image/png" href="/favicon-32x32.png?v=2" sizes="32x32">
      <link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=2" sizes="192x192">
      <link rel="icon" type="image/png" href="/favicon-96x96.png?v=2" sizes="96x96">
      <link rel="icon" type="image/png" href="/favicon-16x16.png?v=2" sizes="16x16">
      <link rel="manifest" href="/manifest.json?v=2">
      <link rel="mask-icon" href="/safari-pinned-tab.svg?v=2" color="#5bbad5">
      <link rel="shortcut icon" href="/favicon.ico?v=2">
      <meta name="msapplication-TileColor" content="#fb8c2b">
      <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=2">
      <meta name="theme-color" content="#ffffff">

      <script type="text/javascript" src="/js/jquery.min.js?v=372"></script>
      <script type="text/javascript" src="/js/languages.js?v=372"></script>
      <script type="text/javascript" src="/js/primary.js?v=372"></script>
      <script type="text/javascript" src="/js/widget.js?v=372"></script>
      <script type="text/javascript" src="/js/jquery.lettering-0.6.1.min.js?v=372"></script>
      <script type="text/javascript" src="/js/jquery.browser.min.js?v=372"></script>
      <script type="text/javascript" src="/js/bootstrap.min.js?v=372"></script>
      <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript">
          api_config = {
              twitch: {
                  client_id: '4l56ta1x0mptop7rbd5nsspbwxzxz7b'
              }
          }
          document_language = 'ru_RU';
      </script>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
